<h1>Brains</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <th>IQ</th>
      <th>Zombie</th>
      <th>Fresh?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
        <td><%= brain.iq %></td>
        <td><%= Zombie.find(brain.zombie_id).name %></td>
        <td>
          <% if brain.fresh %>
            <%= image_tag 'brains/fresh.png', class:'brains_fresh' %>
          <% else %>
            <%= image_tag 'brains/no_fresh.png', class:'brains_fresh' %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


