<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rotten_zombies.each do |zombie| %>
      <% if User.find(zombie.user_id).email == current_user.email || current_user.role == 'Subscriber' || admin_signed_in?%>
        <tr>
          <td><%= image_tag zombie.avatar, :class=>'zombieimg' %></td>
          <td><%= zombie.name %></td>
          <td><%= zombie.bio %></td>
          <td><%= zombie.age %></td>
          <td><%= zombie.email %></td>
          <td><%= zombie.rotten ? "Yes":"No" %></td>
          <% if zombie.user_id? %>
            <td><%= User.find(zombie.user_id).email %></td>
          <% else %>
            <td>Sin dueño</td>
          <% end %>
          <td><%= link_to 'Show', zombie,  :class=>'button tiny primary'%></td>
          <% if current_user.role == 'Editor' || current_user.role == 'Contributor' %>
            <td><%= link_to 'Edit', edit_zombie_path(zombie), :class=>'button tiny success'%></td>
          <% end %> 
          <% if current_user.role == 'Editor' %>
            <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'button tiny alert' %></td>
          <% end %>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role == 'Editor' || current_user.role == 'Contributor' %>
  <%= link_to 'New Zombie', new_zombie_path, :class=>'button primary' %>
<% end %> 
